<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sistema_de_Seguridad_OjoGuardián.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Sistema_de_Seguridad_OjoGuardián.Properties.Settings>
            <setting name="Sensibilidad" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Resaltar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="urlBase" serializeAs="String">
                <value>C:\Grabaciones</value>
            </setting>
            <setting name="camarasDisponibles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="detectarMovimiento" serializeAs="String">
                <value>True</value>
            </setting>
        </Sistema_de_Seguridad_OjoGuardián.Properties.Settings>
    </userSettings>
</configuration>